@font-face {
    font-family: DancingScript;
    src: url(/public/assets/Fonts/DancingScript-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-weight: 700;
}

.t__mainH1 {
    color: rgba(255, 252, 204, 1);
    font-size: 45px;
    width: 360px;
}

@media (max-width: 767px) {
    .t__mainH1 {
        font-size: 28px;
        width: 280px;
    }

}

@media (min-width: 768px)and (max-width: 991px) {
    .t__mainH1 {
        font-size: 35px;
        width: 280px;
    }

}

.t__h1 {
    font-size: 45px;
    color: #fff;

}

.t__h2 {
    font-size: 30px;
    color: #fff;
    line-height: 35.19px;
}


.t__h3 {
    font-size: 24px;
    color: #fff;

}

.t__h4 {
    font-size: 20px;
    color: #fff;

}

.t__h5 {
    font-size: 16px;
    color: #fff;

}

.t__h6 {
    font-size: 14px;
    color: #fff;

}

.t__p1 {
    font-size: 18px;
    color: #fff;

}

@media (max-width: 767px) {
    .t__p1 {
        font-size: 15px;
        width: 300px;
    }

}


.t__p2 {
    font-size: 14px;
    color: #fff;
    width: 440px;
    line-height: 21.74px;
    font-weight: 400;
    letter-spacing: 13%;

}

@media (max-width: 767px) {
    .t__p2 {
        font-size: 14px;
        color: #fff;
        width: auto;
        line-height: 21.74px;
        font-weight: 400;
        letter-spacing: 13%;
    
    }
}

.t__span {
    font-size: 12px;
}

.t_hDF {
    font-size: 36px;
    font-family: DancingScript;
    color: rgba(255, 206, 109, 1);
}

.t_hDC {
    font-size: 36px;
    color: rgba(255, 206, 109, 1);
}

.t_pDF {
    font-size: 36px;
    font-family: DancingScript;
    color: #fff;
}

.t__label {
    color: #fff;
    font-size: 20px;
}