.blog {
    width: 100%;
    padding: 50px 0;
    background-image: url(../../assets/Images/secondayBG.gif);

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;

        .card {
            &:nth-child(even) {
                display: flex;
                flex-direction: column-reverse;

                .content {
                    margin-bottom: -15px;
                    margin-top: 0px;

                }

                .btnBox {
                    position: absolute;
                    top: 25%;
                    margin-left: -250px;
                }
            }

            width: 410px;
            height: 525px;
            border: 0;

            .content {
                padding: 20px;
                display: flex;
                text-align: left;
                flex-direction: column;
                gap: 20px;
                height: 225px;

                background-color: rgba(16, 20, 24, 0.7);
                width: 100%;
                margin-top: -15px;

                p {
                    width: 75%;
                    color: #fff;
                }
            }
        }

    }

}