@font-face {
   font-family: DancingScript;
   src: url(../../assets/Fonts/DancingScript-Regular.ttf);
}

.main_content {

   display: flex;
   flex-direction: column;
   gap: 20px;

   h2 {
      color: #FFFCCC;
      font-weight: 700;
      font-size: 45px;
      line-height: 52.75px;
      text-align: center;
   }

   p {
      color: #FFF;
      font-weight: 700;
      font-size: 18px;
      line-height: 21.75px;
      text-align: center;
   }
}

.centerE {

   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 50px;

   h2 {
      font-family: DancingScript;
      color: #FFCE6D;
      font-weight: 700;
      font-size: 45px;
      line-height: 52.75px;
      text-align: center;
   }

   p {
      color: #FFF;
      font-weight: 700;
      font-size: 30px;
      line-height: 35.75px;
      text-align: center;
   }
}


.left {
   display: flex;
   flex-direction: column;
   gap: 20px;
   text-align: left;

   h2 {
      color: #FFCE6D;
      font-weight: 700;
      font-size: 45px;
      line-height: 52.75px;
      text-align: left;
      font-family: DancingScript;

   }

   .mainContentP {
      color: #FFF;
      font-weight: 700;
      font-size: 26px;
      line-height: 35.19px;
      text-align: left;
      text-transform: capitalize;
      width: 600px;
   }
}